<template>
  <div>
    <h2>OVapi feed fetcher</h2>
    <p>Please note that extreme values <strong>will</strong> crash the browser</p>
    <p>Known bugs: will still search prototype and observer (possibly overflow if search depth is too deep)</p>
    <form v-on:submit.prevent="fetchFeed">
      <select name="source" id="source" v-model="selectedFeed" :required="true">
        <option v-for="(value, key) in feedList" :value="value" :key="key">{{ key }}</option>
      </select>
      <label for="maxFetchAmount">
        Max fetch amount
        <input id="maxFetchAmount" type="text" v-model="maxFetchAmount">
      </label>
      <button type="submit">Fetch feed</button>
    </form>
    <form v-on:submit.prevent="searchObjectForString">
      <span>Search for</span>
      <label for="searchLabel">
        Label
        <input id="searchLabel" type="text" v-model="searchLabel">
      </label>
      <label for="searchValue">
        Value
        <input id="searchValue" type="text" v-model="searchValue">
      </label>
      {{ searchValue }}
      <label for="maxSearchDepth">
        Search depth
        <input id="maxSearchDepth" type="text" v-model="maxSearchDepth">
      </label>
      {{ maxSearchDepth }}
      <button type="submit">Search</button>
    </form>

    <div v-if="searchResult">{{ searchResult }}</div>
    <button v-on:click="searchResult = []">Clear result</button>

    <div v-if="isFetching">Now loading...</div>
    <div class="test">
      <span v-for="item in result" :key="item.id">
        Item: {{ item }}
        <hr>
      </span>
    </div>
  </div>
</template>

<script>
// import GtfsRealtimeBindings from "gtfs-realtime-bindings";
import request from "request";
import protobuf from "protobufjs";

export default {
  name: "FeedViewer",
  data: () => {
    return {
      result: [],
      isFetching: false,
      feedList: {
        TRIP_UPDATES: "http://gtfs.ovapi.nl/nl/tripUpdates.pb",
        VEHICLE_POSITIONS: "http://gtfs.ovapi.nl/nl/vehiclePositions.pb",
        TRAIN_UPDATES: "http://gtfs.ovapi.nl/nl/trainUpdates.pb",
        ALERTS: "http://gtfs.ovapi.nl/nl/alerts.pb"
      },
      maxFetchAmount: 1,
      selectedFeed: null,

      searchLabel: null,
      searchValue: null,
      searchResult: [],
      maxSearchDepth: 5,
    };
  },
  methods: {
    fetchFeed() {
      var requestSettings = {
        method: "GET",
        url: `https://cors-escape.herokuapp.com/${this.selectedFeed}`,
        encoding: null
      };
      var maxFetch = this.maxFetchAmount;
      var promise = new Promise((resolve, reject) => {
        this.isFetching = true;
        request(requestSettings, (error, response, body) => {

          if (!error && response.statusCode == 200) {
            protobuf.load("/gtfs-realtime-OVapi.proto", (err, root) => {
            var result = [];
              if (err) {
                reject("Protobuf error", err);
              }
              var message = root.lookupType("transit_realtime.FeedMessage");
              var feed = message.decode(body);
              console.log("feed", feed);
              
              var i;
              for (i = 0; i < feed.entity.length && i < maxFetch; i++) {
                result.push(feed.entity[i]);
                console.log("entity added");
              }
              resolve(result);
            });
            
          } else {
            reject("No response or invalid response");
          }
        });
      }).then(result => this.updateResult(result));
    },
    updateResult(result) {
      this.result = result;
      console.log(result);
      this.isFetching = false;
    },
    searchObjectForString(event, object, depth) {
      let searchObject = object ? object : this.result;
      let currentDepth = depth ? depth : 0;
      
      for (var key in searchObject) {
        var value = searchObject[key];
        // console.log(this.result, searchObject, value)
        if (typeof value === "function" || key[0] == "_") {
          console.log("invalid item");
        } else if (typeof value === "object" && currentDepth <= this.maxSearchDepth) {
          console.log("searching ", key, currentDepth)
          this.searchObjectForString(null, value, currentDepth + 1);
        } else {
          console.log("checking", value, this.searchValue)
          if (this.compareObjects(key, value, this.searchLabel, this.searchValue)) {
            console.log("property=" + key + " value=" + value);
            this.searchResult.push({[key]: value});
          }
        }
      }
    },
    compareObjects(objectKey, objectValue, compareKey, compareValue) {
      var result = false;
      if (!compareKey || objectKey == compareKey) {
        if (!compareValue || objectValue == compareValue) {
          result = true;
        }
        console.log("value false", objectValue, compareValue)
      } else {
        console.log("key false", objectKey, compareKey);
      }
      return result;
    },
  }
};
</script>
