<template>
  <div id="app">
    <FeedViewer />
  </div>
</template>

<script>
import FeedViewer from './components/FeedViewer.vue'

export default {
  name: 'app',
  components: {
    FeedViewer
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
